@import "tailwindcss";

body {
  @apply bg-[#f7f2f2];
    font-family: var(--font-anton);

}

h1
{
  font-family: var(--font-anton);
}

.inter{
  font-family: var(--font-inter);
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}